<app-accordion>
  <app-accordion-group *ngFor="let section of sections">
    <app-accordion-header #header="accordionHeader">
      <!-- <svg-icon [icon]="header.isOpen ? 'caret-down' : 'caret-up'"></svg-icon> -->
      {{ section.title }}
    </app-accordion-header>
    <app-accordion-content>
      <ng-template appAccordionContentLazy>
        <div>
          {{ section.description }}
          <app-icon></app-icon>
        </div>
      </ng-template>
    </app-accordion-content>
  </app-accordion-group>
</app-accordion>
